<h1>Property FM Workflow Notification - {{ today }}</h1>
<h3>Details:</h3>

<table class="table table-bordered small" style="max-width: 500px;">
    <tbody>
        <tr>
            <th>My Task</th>
            <th>Amount</th>
            <th>Dashboard Link</th>
        </tr>
        {{ data }}
    </tbody>
</table>