<div class="container">
    <!-- <form id="form"> -->
        <div class="mb-3 row">
            <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="firstName" autocomplete="off" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastName" autocomplete="off" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" autocomplete="off" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputConPassword" class="col-sm-2 col-form-label">Confirm Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputConPassword" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="userDepartment" class="col-sm-2 col-form-label">Department</label>
            <div class="col-sm-10">
                <div class="control-input flex align-center">
                    <select class="input-with-feedback form-control ellipsis" data-fieldtype="Select" id="userDepartment">
                    </select>
                    <div class="select-icon ">
                        <svg class="icon icon-sm">
                            <use class="" href="#icon-select"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="mb-3 row">
            <label for="userType" class="col-sm-2 col-form-label">User Type</label>
            <div class="col-sm-10">
                <div class="control-input flex align-center">
                    <select class="input-with-feedback form-control ellipsis" data-fieldtype="Select" id="userType">
                    </select>
                    <div class="select-icon ">
                        <svg class="icon icon-sm">
                            <use class="" href="#icon-select"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="mb-3 row">
            <label for="roleProfile" class="col-sm-2 col-form-label">Role Profile</label>
            <div class="col-sm-10">
                <div class="control-input flex align-center">
                    <select class="input-with-feedback form-control ellipsis" data-fieldtype="Select" id="roleProfile">
                    </select>
                    <div class="select-icon ">
                        <svg class="icon icon-sm">
                            <use class="" href="#icon-select"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right">
            <!-- <button class="btn btn-primary btn-sm primary-action" data-label="Save">S<span class="alt-underline">a</span>ve</button> -->
            <button type="submit" class="btn btn-primary" onclick="sign_in()">Sign Up</button>
        </div>
    <!-- </form> -->
</div>